################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MVCCore/bin/Debug/netcoreapp3.1
/MVCCore/obj/Debug/netcoreapp3.1
/MVCCore/obj/Release/netcoreapp3.1
/MVCCore/obj
/MVC.CORE/bin/Debug/netcoreapp3.1
/MVC.CORE/obj
/Infra.Data/bin/Debug/netcoreapp3.1
/Infra.Data/obj
/JLRP.Application/obj
/JLRP.Domain/bin/Debug/netcoreapp3.1
/JLRP.Domain/obj
/Infra.IoC/obj
/Infra.IoC/bin/Debug/netcoreapp3.1
/JLRP.Application/bin/Debug/netcoreapp3.1
